[submodule "shipper/src"]
	path = shipper/src
	url = https://github.com/benkruger/flow
[submodule "qa1/src"]
	path = qa1/src
	url = https://github.com/benkruger/flow
[submodule "qa2/src"]
	path = qa2/src
	url = https://github.com/benkruger/flow
[submodule "eng2/src"]
	path = eng2/src
	url = https://github.com/benkruger/flow
[submodule "growth/src"]
	path = growth/src
	url = https://github.com/benkruger/flow
